h1 lobby
#send-message
  form#message-form action="/chat-message"
    input#chat-message name='message' value=''
    input#chat-submit type='submit' value='Send Message'
hr
#chat
javascript:

  // amqp / rhea initialization
  var server = "#{ENV['broker']}"
  var client = require("rhea");
  var ws = client.websocket_connect(WebSocket);
  var connection = client.connect(
    {"connection_details":ws(server, ["amqp"])
    });
  var receiver = connection.open_receiver("lobby");
  var sender = connection.open_sender("lobby");  
  
  // reading
  receiver.on("message", function (context) {
    to_append = "<div>" + context.message.body + "</div>"
    $('#chat').append(to_append)
  });

  // writing
  $("#message-form").on("submit", function(e) {
    sender.send({ "body": "#{@userinfo.preferred_username}: " + $('#chat-message').val()});    
    //$.post('/chat-message', {msg: "#{@userinfo.preferred_username}: " + $('#chat-message').val()});
    $('#chat-message').val(''); 
    $('#chat-message').focus();
    e.preventDefault();
  });
