#gamelink.inline {
  display: inline;
}

#gamelink.inline .link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
  padding: 0;
}
#gamelink.inline .link-button:focus {
  outline: none;
}
#gamelink.inline .link-button:active {
  color:red;
}